
# Virtual environment
venv/
.env/
*.env

# Python cache & logs
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data files
# Ignore raw datasets (too large for GitHub)
data/raw/*
!data/raw/.gitkeep

# OS / Editor junk files
.DS_Store
Thumbs.db
.vscode/
.idea/
